# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Microservicios (internos)
JORNADAS_SERVICE_URL=
INSCRIPCIONES_SERVICE_URL=

# API Gateway (Next.js consume esta URL desde el servidor)
GATEWAY_PORT=
JORNADAS_SERVICE_PORT=
INSCRIPCIONES_SERVICE_PORT=

# Frontend
NEXT_PUBLIC_APP_URL=
API_URL=
