# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=horary
POSTGRES_USER=horary
POSTGRES_PASSWORD=horary_secret

# Microservicios (internos)
JORNADAS_SERVICE_URL=http://localhost:3001
INSCRIPCIONES_SERVICE_URL=http://localhost:3002

# API Gateway (Next.js consume esta URL desde el servidor)
GATEWAY_PORT=3000
JORNADAS_SERVICE_PORT=3001
INSCRIPCIONES_SERVICE_PORT=3002

# Frontend
NEXT_PUBLIC_APP_URL=http://localhost:3003
API_URL=http://localhost:3000
